* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.default.light,
[color-theme='default'][color-mode='light'],
:root[color-theme='default'][color-mode='light'],
:host([color-theme='default'][color-mode='light']) {
  --bg-color: #f0f8ff;
  --text-color: #102a43;
  --primary-color: #007bff;
  --secondary-color: #00bfa5;
  --error-color: #ff4c4c;
}

:host([color-theme='default'][color-mode='dark']) {
  --bg-color: #001f3f;
  --text-color: #c0e0ff;
  --primary-color: #3399ff;
  --secondary-color: #00e0b0;
  --error-color: #ff6b6b;
}

:host([color-theme='strict'][color-mode='light']) {
  --bg-color: #fff8e7;
  --text-color: #4b2e05;
  --primary-color: #ff9900;
  --secondary-color: #cc3300;
  --error-color: #990000;
}

:host([color-theme='strict'][color-mode='dark']) {
  --bg-color: #2b0d00;
  --text-color: #ffe6c2;
  --primary-color: #ff6600;
  --secondary-color: #ff3300;
  --error-color: #ff0000;
}

.fallback-error-message {
  color: var(--error-color);
}

.mfe-kit-template {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  &-image {
    height: 480px;
    width: 640px;
    object-fit: cover;
  }
  &-btn {
    height: 2rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
    }
  }
  &-spinner {
    height: 100%;
    width: 100%;
    max-width: 480px;
  }
  &-hide {
    display: none !important;
  }
}
